@charset "UTF-8";

#bodycontainer{
	margin: 0px auto;  background-color: white; 
	width: 1200px;
	height: auto;
	min-height: 500px;	
/* 	margin-bottom: 200px; */
    padding-bottom: 120px;
}   

/* #bodycontent{ */
/* 	text-align: center; */
/* 	margin-top: 50px; */
/* 	min-height: 300px; */
/* } */

article{
	margin-left:150px;
	margin-top: 50px;
}