@charset "UTF-8";

#bodycontainer{
	margin: 0px auto;  background-color: white; 
/* 	width: 1200px; */
	height: auto;
	min-height: 100%;	
/* 	margin-bottom: 200px; */
    padding-bottom: 200px;
}   

#bodycontent{
	text-align: center;
	margin-top: 100px;
/* 	min-height: 300px; */
}

