@charset "UTF-8";

<!--모달창 css-->

#btnWrap {
  width: 500px;
  margin: 30px auto;
}
#popupBtn {
  font-size:15px;	
  border-radius: 10px;	
  border: none;
  width: 110px;
  height: 50px;
  padding: 10px 5px;
}
#modalWrap {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: none;
}
#modalBody {
  width: 400px;
  height: 350px;
  padding: 30px 30px;
  margin: 0 auto;
  border: 1px solid #777;
  background-color: #fff;
}

#reservebtn{
  border: none;
  width: 90px;
  height: 30px;
  border-radius: 10px;
}

#closeBtn {
  float:right;
  font-weight: bold;
  color: #777;
  font-size:15px;
  cursor: pointer;
}