@charset "UTF-8";
#content_frame{
	margin: 0px auto;
    padding-top: 20px;
	width: 800px;
 	color: gray;
		
}

h1 {
/* 	margin: 30px 0px 20px; */
    line-height: 24px;
    font-size: 24px;
    font-weight: bold;
}

#subject{
	font-size: 20px;
	font-weight: 600;
}

.reservelist-box{
	width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    display: none;
    opacity: 0;
    min-width: 0px;
    min-height: 1px;
    border-bottom: 1px solid;
}

.content_image{
 object-fit: cover;	
 border-radius: 10px;
 width: 400px;
 height: 300px;
 margin-top: 20px;
 margin-left: 100px;
 margin-bottom: 20px;
 float: left;
}

#class-content{
	width: 500px;
	height: auto;
	float: right;
	font-size: 18px;
	margin-top: 20px;
	margin-left: 100px;
}

#class-content:hover{
	color: silver;
	cursor: pointer;
}

#class-content-p{
	margin: 30px auto;
	width: 1000px;
	font-size: 25px;
}

#class-content-l{
	margin: 30px auto;
	width: 1000px;
	font-size: 25px;
/* 	border-bottom: 1px solid; */
}

#btn{
	font-size: 25px;
	margin: 0px auto;
	width: 100px;
	display: block;
	text-align: center;
}
	