@charset "UTF-8";


#gildong{
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
}

#bottomContent{
  font-size: 15px;
  color: silver;
  text-align: center;
}

footer{
  width: 100%;
  height: 250px;
  position: relative;
  display: flex;
  transform : translateY(0%);
  background-color: #38393b;  
}