@charset "UTF-8";
.container11 {
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
}
* {
    outline: none;
    font-family: inherit;
}
*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}
.h33 {
	margin: 30px 0px 20px;
    line-height: 24px;
    font-size: 24px;
    font-weight: bold;
}
.notice11 {
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    display: none;
    opacity: 0;
    min-width: 0px;
    min-height: 1px;
}
.a11 {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.b11 {
    display: list-item;
    text-align: -webkit-match-parent;
}
.a2 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 50px;
    line-height: 24px;
    padding: 5px 0px;
    font-size: 15px;
    cursor: pointer;
    border-bottom: 1px solid rgb(230, 230, 230);
}
.a3 {
    margin-left: 0px;
    margin-right: 21px;
    width: 48px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    padding: 0px 6px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgb(51, 151, 255);
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}
.a4 {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}
div {
    display: block;
}
.date11 {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin-left: 10px;
    color: rgb(155, 155, 155);
    font-size: 12px;
    font-weight: normal;
}