@charset "UTF-8";
.container {
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
}
* {
    outline: none;
    font-family: inherit;
}
*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}
h1 {
/* 	margin: 30px 0px 20px; */
    line-height: 24px;
    font-size: 24px;
    font-weight: bold;
}
.question {
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    display: none;
    opacity: 0;
    min-width: 0px;
    min-height: 1px;
}
.a1 {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.a2 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 60px;
    line-height: 24px;
    padding: 18px 0px;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 1px solid rgb(230, 230, 230);
}
.a3 {
    margin-left: 0px;
    margin-right: 21px;
    width: 48px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    padding: 0px 6px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgb(51, 151, 255);
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}
.a4 {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}
div {
    display: block;
}

.a1.items {
	display: flex;
	flex-direction: column;
}
.question-item {
	cursor : pointer;
	border: none;
	background-color: transparent;
	outline: none;
}
.detail {
	display: none;
	overflow: hidden;
	transition-timing-function: ease-in-out;
	padding: 10px;
	background-color: rgb(239, 247, 255);
	width: 100%;
    min-height: 84px;
    padding: 20px;
    color: rgb(74, 74, 74);
    font-size: 14px;
    line-height: 24px;

}
.detail.active + .detail {
	max-height: 200px;
	
}
.pagec {
	font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
html, body {
    width: 100%;
/*     font-size: 14px; */
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
}
html {
    box-sizing: border-box;
    cursor: default;
    font-family: sans-serif;
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
