@charset "UTF-8";

#frUpdate {
    margin: 50px auto;
}
#updateBox {
	text-align: left;
/*     width: 520px; */
    margin-left: 780px;
    line-height: 10px;
}
input[type="text"] {
/*          padding:1px 2px; font-size: 12pt;  */
 width: 100%; /* 부모 요소에 맞게 가로 너비 100% 설정 */
  padding: 10px; /* 내부 여백 설정 */
  border: 1px solid #ccc; /* 테두리 스타일 및 색상 설정 */
  border-radius: 4px; /* 테두리 모서리를 둥글게 설정 */
  font-size: 16px; /* 폰트 크기 설정 */
             } 
p {
	line-height: 20px;
}
#ndup{
	padding: 1px 6px;
}
/* #fr{ */
/* 	width: 30%; margin:auto; margin-top : 70px; margin-bottom : 70px;  */
/* 	 line-height: 20px; */
/* } */
/* p{ */
/* 	margin-left: 110px; line-height: 30px; font-size: 12pt; font-weight:bolder; */
/* 	color:gray; */
/* } */
/* #btn{ */
/* 	border-radius: 10px; margin-left:190px; border:none; width:80px; height:40px; */
/* 	margin-top: 30px; */
/* } */
/* input[type="text"] { */
/*         width:250px; height: 30px; font-size: 12pt;  */
/*     } */
/* #file { */
/*   display: none; 원래의 파일 선택 버튼을 감춥니다. */
/* } */
/* #filebtn{ */
/*   background-color: pink; border-style:solid; border-width:1px; */
/*   border-color:black; color:black; border-radius: 5px; */
/*   font-weight:bold; font-size: 12pt;  */
/*   width:110px; height:30px; */
/*   cursor: pointer; */
/*   border-style:solid; */
/* } */

/* #id{ */
/* 	border: none; */
/* } */
/* #pass{ */
/* 	border-radius: 5px; width:110px; height:30px; background-color:pink; */
/* 	border-width: 1px; font-weight:bold; */
/* } */